:root {
  --light-bg: #33343b;
  --medium-bg: #2a2c35;
  --dark-bg: #1f2029;

  --divider: #292b33;

  --main-text: #e9e9ea;
  --sub-text: #bcbcbf;
  --text: #8f9094;

  --accent-1: #6c5dd2;
  --accent-2: #fe754b;

  --list-margin: 1.6rem;
  --main-padding: 3.2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

/* ------------ General ------------ */

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.95),
      rgba(42, 44, 53, 0.8),
      rgba(0, 0, 0, 0.95)
    ),
    url("./img/movies_collage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Urbanist", sans-serif;
  color: var(--text);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;

  height: 90%;

  background-color: var(--dark-bg);
  border-radius: 1.6rem;
  border: 1px solid var(--divider);

  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.8);
}

.hidden {
  display: none;
}

/* ------------ Menu ------------ */

.menu {
  grid-column: 1;
  grid-row: 1 / -1;
  font-size: 1.6rem;
  border-right: 1px solid var(--divider);
  padding: var(--main-padding);
}

.menu-header {
  display: flex;
  align-items: center;
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
}

.fa-tv {
  color: var(--accent-1);
}

.logo-title {
  margin-left: 0.8rem;
  background: -webkit-linear-gradient(0deg, var(--accent-1), var(--accent-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-list {
  position: relative;
  list-style-type: none;
  margin-bottom: 3.2rem;
  padding-bottom: 2.4rem;
}

.menu-list::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--divider);
  bottom: 0;
  left: 0;
}

.menu-title {
  font-size: 1.2rem;
  color: var(--sub-text);
  margin-bottom: 1.6rem;
}

.menu-list-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: var(--list-margin);
  margin-left: -1.6rem;
  padding: 1rem 1.6rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.menu-list-item > a:link,
.menu-list-item > a:visited {
  color: var(--text);
  text-decoration: none;
}

.menu-list-item:hover {
  background-color: var(--accent-1);
}

.menu-list-item:active {
  background-color: var(--accent-2);
}

.menu-list-item:hover > a,
.menu-list-item:hover > i {
  color: #ffffff;
}

.active {
  color: #ffffff;
  background-color: var(--accent-2);
}

.active > a:link,
.active > a:visited,
.active > i {
  color: #ffffff;
}

/* ------------ Favourites ------------ */

.fav-title {
  font-size: 1.2rem;
  color: var(--sub-text);
  margin-bottom: 1.6rem;
}

.fav-list {
  list-style-type: none;
  margin-bottom: 3.2rem;
}

.fav-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: var(--list-margin);
}

.fav-pic {
  width: 1.8rem;
  border-radius: 50%;
}

/* ------------ Top Menu ------------ */

.search {
  display: flex;
  align-items: center;
  padding: calc(var(--main-padding) - 0.8rem);
  border-bottom: 1px solid var(--divider);
}

.search-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.8rem;
}

.search-btn {
  color: var(--sub-text);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-input {
  border: 1px solid var(--divider);
  background-color: transparent;
  width: 32rem;
  padding: 0.8rem;
  border-radius: 1.6rem;
}

.form {
  display: flex;
  gap: 0.8rem;
  margin-left: 1.6rem;
}

.radio-btn {
  cursor: pointer;
}

.profile-container {
  margin-left: auto;
}

.profile-avatar {
  width: 4.8rem;
  border-radius: 50%;
}

/* ------------ Main Content ------------ */

.main-content {
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  width: 108rem;
}

.main-content::-webkit-scrollbar {
  display: none;
}

/* ------------ Swiper ------------ */

.swiper {
  grid-row: 1;
  width: 100%;
  height: 40rem;
  margin-bottom: 3.2rem;
}

.swiper-item {
  width: 100%;
  height: 100%;
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--main-padding);
}

.swiper-item-title {
  font-size: 4.8rem;
  color: var(--main-text);
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 1.6rem;
}

.swiper-item-description {
  width: 50%;
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--main-text);
  text-shadow: 1px 1px 2px #000000;
  margin-bottom: 3.2rem;
}

.swiper-item-btn {
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  color: var(--sub-text);
  border: none;
  border-radius: 0.8rem;
  padding: 1rem 3.2rem;
  background-color: var(--accent-1);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.swiper-item-btn:hover {
  color: var(--main-text);
  background-color: var(--accent-2);
}

/* ------------ Category ------------ */

.category {
  padding: var(--main-padding);
}

.category-title {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

/* ------------ Cards ------------ */

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.6rem;
  width: 100%;
}

.card > a {
  display: block;
}

.card-img {
  width: 100%;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.card-img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.4);
}

/* ------------ Dropdown ------------ */

.dropdown {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--main-padding);
  padding-right: var(--main-padding);
}

.dropdown-label {
  font-size: 1.6rem;
  margin-right: 0.8rem;
}

.dropdown-select {
  border: 1px solid var(--divider);
  background-color: transparent;
  color: var(--text);
  padding: 0.8rem;
  border-radius: 1.6rem;
  cursor: pointer;
}

/* ------------ Pagination ------------ */

.pagination {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: var(--main-padding);
}

.pagination-btn {
  border: none;
  padding: 0.8rem;
  border-radius: 0.8rem;
  background-color: var(--accent-2);
  color: #000000;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.pagination-btn:hover {
  background-color: var(--accent-1);
}

.pagination-text {
  color: var(--sub-text);
  font-size: 1.6rem;
}

.pagination-text > span {
  color: var(--accent-2);
  font-weight: bolder;
}

/* ------------ Details ------------ */

.details {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--main-padding);
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 3.2rem;
}

.details-title {
  font-size: 4.8rem;
  color: var(--main-text);
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 1.6rem;
}

.details-description {
  width: 50%;
  font-size: 1.6rem;
  color: var(--main-text);
  text-shadow: 1px 1px 2px #000000;
  margin-bottom: 3.2rem;
}

.details-btn {
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  color: var(--sub-text);
  border: none;
  border-radius: 0.8rem;
  padding: 1rem 3.2rem;
  margin-bottom: 6.4rem;
  background-color: var(--accent-1);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.details-btn:hover {
  color: var(--main-text);
  background-color: var(--accent-2);
}

.details-stars,
.details-release {
  margin-bottom: 1.6rem;
}

/* ------------ Footer ------------ */

.footer {
  grid-row-end: -1;
  text-align: center;
}

.footer a {
  color: var(--accent-2);
}

.footer img {
  max-width: 12.8rem;
  margin-top: 0.8rem;
  margin-bottom: 3.2rem;
}

/* ------------ Spinner ------------ */

.spinner {
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.spinner::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #ff3d00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
