:root {
  --light-bg: #33343b;
  --medium-bg: #2a2c35;
  --dark-bg: #1f2029;

  --divider: #292b33;

  --main-text: #e9e9ea;
  --sub-text: #bcbcbf;
  --text: #8f9094;

  --accent-1: #6c5dd2;
  --accent-2: #fe754b;

  --list-margin: 1.6rem;
  --main-padding: 3.2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

/* ------------ General ------------ */

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-color: var(--medium-bg);

  font-family: "Urbanist", sans-serif;
  color: var(--text);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;

  height: 90%;

  background-color: var(--dark-bg);
  border-radius: 1.6rem;
  border: 1px solid var(--divider);

  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

/* ------------ Side Menu ------------ */

.side-menu {
  grid-column: 1;
  grid-row: 1 / -1;
  font-size: 1.6rem;
  border-right: 1px solid var(--divider);
  padding: var(--main-padding);
}

/* ------------ Header ------------ */

.side-menu-header {
  display: flex;
  align-items: center;
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
}

.fa-tv {
  color: var(--accent-1);
}

.logo-title {
  margin-left: 0.8rem;
  background: -webkit-linear-gradient(0deg, var(--accent-1), var(--accent-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------------ Main Menu ------------ */

.menu-list {
  position: relative;
  list-style-type: none;
  margin-bottom: 3.2rem;
  padding-bottom: 2.4rem;
}

.menu-list::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--divider);
  bottom: 0;
  left: 0;
}

.menu-title {
  font-size: 1.2rem;
  color: var(--sub-text);
  margin-bottom: 1.6rem;
}

.menu-list-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: var(--list-margin);
  margin-left: -1.6rem;
  padding: 1rem 1.6rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.menu-list-item > a:link,
.menu-list-item > a:visited {
  color: var(--text);
  text-decoration: none;
}

.menu-list-item:hover {
  background-color: var(--accent-1);
}

.menu-list-item:hover > a,
.menu-list-item:hover > i {
  color: #ffffff;
}

.active {
  color: #ffffff;
  background-color: var(--accent-2);
}

.active > a:link,
.active > a:visited,
.active > i {
  color: #ffffff;
}

/* ------------ Favourites ------------ */

.fav-list {
  list-style-type: none;
  margin-bottom: 3.2rem;
}

.fav-title {
  font-size: 1.2rem;
  color: var(--sub-text);
  margin-bottom: 1.6rem;
}

.fav-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: var(--list-margin);
}

.fav-pic {
  width: 1.8rem;
  border-radius: 50%;
}

/* ------------ Top Menu ------------ */

.top-menu {
  display: flex;
  align-items: center;
  padding: calc(var(--main-padding) - 0.8rem);
}

.search-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.8rem;
}

.search-btn {
  color: var(--sub-text);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-input {
  border: none;
  background-color: transparent;
  padding: 0.8rem;
  border-radius: 1.6rem;
}

.form {
  display: flex;
  gap: 0.8rem;
  margin-left: 1.6rem;
}

.radio-btn {
  cursor: pointer;
}

.profile-container {
  margin-left: auto;
}

.profile-avatar {
  width: 4.8rem;
  border-radius: 50%;
}

/* ------------ Main Content ------------ */

.main-content {
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  width: 108rem;
}

.main-content::-webkit-scrollbar {
  display: none;
}

/* ------------ Featured Content ------------ */

.featured-movie {
  position: relative;
  min-height: 32rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-bottom: 3.2rem;
  animation: movie-move 24s infinite;
}

@keyframes movie-move {
  0% {
    background-position: top;
  }
  50% {
    background-position: center;
  }
  100% {
    background-position: top;
  }
}

.featured-info {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  padding: var(--main-padding);
  width: 60%;
}

.featured-title {
  font-size: 2.4rem;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 0.8rem;
}

.featured-subtext {
  font-size: 1.4rem;
  text-shadow: 1px 1px 2px #000000;
  margin-bottom: 3.2rem;
}

.featured-btn {
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  color: var(--sub-text);
  border: none;
  border-radius: 0.8rem;
  padding: 1rem 3.2rem;
  background-color: var(--accent-1);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.featured-btn:hover {
  color: var(--main-text);
  background-color: var(--accent-2);
}

/* ------------ Top 5 ------------ */

.top5-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1.8rem 1fr;
  gap: 1.6rem;
  padding: var(--main-padding);
}

.top5-section-text {
  grid-column: 1 / -1;
  grid-row: 1;
  font-size: 1.8rem;
}

.top5-item {
  grid-row: 2;
  max-width: 19.2rem;
  background-color: var(--light-bg);
  border-radius: 1.6rem;
  overflow: hidden;
}

.top5-img {
  width: 100%;
}

.top5-text-box {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3.2rem 4.8rem;
  gap: 1.6rem;
  padding: 2.4rem 1.2rem;
}

.top5-title {
  font-size: 1.6rem;
  color: var(--sub-text);
}

.top5-description {
  font-size: 1.2rem;
  min-height: 4.2rem;
}

.top5-btn {
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  color: var(--sub-text);
  border: none;
  border-radius: 0.8rem;
  padding: 1rem 3.2rem;
  background-color: var(--accent-1);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.top5-btn:hover {
  color: var(--main-text);
  background-color: var(--accent-2);
}

/* ------------ Single Info Page ------------ */

.single-page {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto 1fr 8rem;
  height: calc(100vh - 25%);
}

.selected-img {
  position: relative;
  min-height: 32rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-bottom: 3.2rem;
}

.selected-title-container {
  position: absolute;
  top: 20%;
  color: #ffffff;
  padding: var(--main-padding);
  width: 60%;
}

.selected-title {
  font-size: 4.8rem;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 2.4rem;
}

.selected-btn {
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  color: var(--sub-text);
  border: none;
  border-radius: 0.8rem;
  padding: 1rem 3.2rem;
  background-color: var(--accent-1);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.selected-btn:hover {
  color: var(--main-text);
  background-color: var(--accent-2);
}

.selected-info {
  font-size: 1.6rem;
  padding: var(--main-padding);
}

.selected-stars,
.selected-release,
.selected-description {
  margin-bottom: 1.6rem;
}

/* ------------ Footer ------------ */

.footer {
  text-align: center;
}

.footer a {
  color: var(--accent-2);
}

.footer img {
  max-width: 12.8rem;
  margin-top: 0.8rem;
  margin-bottom: 3.2rem;
}

/* ------------ Spinner ------------ */

.spinner {
  position: absolute;
  z-index: 10;
  top: 33%;
  left: 50%;
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.spinner::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #ff3d00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
